.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: rgb(39, 39, 39);
}

h1 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 1.6rem;
  font-weight: normal;
}
p {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 0.9rem;
  font-weight: normal;
  width: 65%;
  text-align: center;
  margin: auto;
}
button {
  width: 6.5rem;
  height: 2rem;
  margin: 1.7%;
  border: 0.15rem solid white;
  background: none;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 15px;
}
button:hover {
  background: white;
  color: rgb(39, 39, 39);
  font-weight: bold;
  text-shadow: 0px 0px 0px black;
}
.list-item {
  border: 1px solid whitesmoke;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  padding: 0.3rem;
}
.list-item h3 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.list-item p {
  color: white;
  font-size: 0.9rem;
  font-weight: normal;
  text-shadow: none;
}
